body {
  background-color: black;
  text-align: center;
}

p {
  font-family: verdana;
  margin-top: 30px;
  color: white;
}

.discover {
  font-size: 50px;
  font-weigth: normal;
}

a {
  color: aquamarine;
  font-size: 16px;
}

.excursion {
  color: gray;
  font-size: 21px;
}

.your {
  font-weigth: 300;
  font-size: 42px;
}

.coming {
  font-weigth: 300;
  font-size: 42px;
}

.footer {
  color: gray;
  font-size: 21px;
  text-align: right;
}
